@import "../../global/colors.scss";

.recover-password__background {
    color: white;

    .recover-password__container {
        width: 35%;
        margin: 35px auto;
        padding: 20px;
        background-color: lighten(black, 20%);
        border-radius: 20px;

        & > h1 {
            margin: 10px 0px;
            text-align: center;
        }

        & > p {
            margin: 18px 30px;
            text-align: left;
        }

        & > form {
            display: flex;
            flex-direction: column;

            & > input {
                margin: 10px 30px;
                padding: 8px 12px;
            }

            & > button {
                margin-top: 6px;
                margin-left: 30px;
                margin-right: 30px;
                padding: 12px 0px;
                background-color: $primary-color;
                color: white;
                border: 1px solid white;
                border-radius: 8px;

                &:hover {
                    cursor: pointer;
                    background-color: darken($primary-color, 10%);
                }
            }
        }

        & > div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            & > .recover-password__link {
                border: none;
                background-color: transparent;
                color: white;
                margin-top: 20px;

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }

            & > .recover-password__link--second {
                margin-top: 0px;
                border: none;
                background-color: transparent;

                &:hover {
                    cursor: pointer;
                }
            }

            & > button {
                color: white;
                text-decoration: none;
                text-align: center;
                display: inline-block;
                margin: 16px 0px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}