@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Nosifer&display=swap');

$font-primary: 'Shadows Into Light', cursive;
$font-secundary: 'Nosifer', sans-serif;
$font-tertiary: 'Nanum Pen Script', cursive;