@import "../../global/colors.scss";

.login_and_register {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    width: 80%;
    // esse height nao vai funcionar conforme esperado. A div pai tem que ter 100vh e
    // ele ser obrigado a ter um padrao se nao vai ficar fora de esquadro em outros PC
    min-height: 69vh;
    margin: auto;

    .login_and_register__login, .login_and_register__register {
        width: 50%;
        margin: auto;
        align-items: center;

        h2 {
            margin: 20px 0px;
            text-align: center;
        }
        input, button {
            display: block;
            margin: 10px auto;
        }
        /*button {
            border: 1px solid black;
            padding: 15px 0px;
            width: 70%;
            border-radius: 8px;
            font-weight: bold;
            cursor: pointer;
        }*/
        input {
            border: 1px solid black;
            padding: 10px;
            width: 60%;
        }
    }

    .login_and_register__login {
        
        color: $secundary-color;
        a {
            color: $secundary-color;
        }
        & > form > a {
            margin-left: 100px;
        }
        & > form > button {
            padding: 14px 140px;
            border-radius: 8px;
            border: 2px solid white;
            background-color: $secundary-color;
            color: white;
            font-weight: bold;

            &:hover {
                cursor: pointer;
                background-color: darken($secundary-color, 20%);
            }
        }
    }

    .login_and_register__register {
        color: $primary-color;
        & > form > div {
            display: flex;
        }
        .input--checkbox {
            display: inline-block;
            color: white;
            cursor: pointer;
            width: 22px;
            height: 22px;
        }
        .checkbox__container {
            display: flex;
            align-items: center;
        }
        & > form > button {
            padding: 14px 130px;
            background-color: $primary-color;
            color: white;
            border: 2px solid white;
            border-radius: 8px;
            font-weight: bold;

            &:hover {
                background-color: darken($primary-color, 20%);
                cursor: pointer;
            }
        }
    }

}