@import "../../global/colors.scss";

.admin__container {
    width: 80%;
    margin: auto;
    color: white;
    //background-color: rgb(130, 164, 130);

    & > h1 {
        color: $secundary-color;
        margin: 18px 0px;
    }

    & > nav {
        display: flex;
        justify-content: space-evenly;
        padding: 12px;
        background-color: darken(white, 50%);
        width: 90%;
        margin: 10px auto;
        border-radius: 6px;

        & > a {
            font-weight: bold;
            text-decoration: none;
            color: white;

            &:hover {
                color: $secundary-color;
            }
        }

        .active {
            color: black;
        }
    }

    .product__list, .user__list {

        & > div {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
            margin: 18px auto;

            & > div {
                border: 2px dashed white;
                background-color: darken(white, 90%);
                padding: 20px;
                text-align: center;
                display: flex;
                justify-content: space-between;
                align-items: center;

                & > div > .sgv--link {
                    color: white;
                    margin-right: 10px;
                    &:hover {
                        color: gray;
                        cursor: pointer;
                        transition: color 0.3s ease;
                    }
                }
                
                & > div > .sgv--trash {
                    &:hover {
                        color: red;
                        cursor: pointer;
                        transition: color 0.3s ease;
                    }
                }
            }
        }
    }

    .user__list {
        & > div > div > .sgv--trash {
            &:hover {
                cursor: pointer;
                color: red;
            }
        }
    }
}
