@import "../../global/colors.scss";

.product__container {
    display: flex;
    padding: 0px 10%;
    margin: auto;
    background-color: black;
    color: white;

    .container__product__image {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;

        & > img {
            width: 70%;
            margin: 30px 0px;
        }
    }

    .container__product__detail {
        margin: 50px auto;
        h2 {
            font-size: 2.3rem;
        }
        h3 {
            font-size: 1.9rem;
            color: $secundary-color;
            margin: 10px 0px;
        }
        label {
            font-size: 1.1rem;
            color: white;
            font-weight: normal;
        }
        h4 {
            text-decoration: underline;
        }

        .detail__buttons > button {
            padding: 14px 70px;
            display: block;
            color: white;
            border-radius: 8px;
            border: 2px solid white;
            font-weight: bold;
            font-size: 1rem;
            //margin: auto;
        }
        .button--add {
            background-color: $primary-color;

            margin: 22px auto;
            &:hover {
                background-color: darken($primary-color, 20%);
                cursor: pointer;
            }
        }
        .button--buy {
            background-color: $secundary-color;
            margin: 20px auto;

            &:hover {
                background-color: darken($secundary-color, 20%);
                cursor: pointer;
            }
        }
    }

    .detail__size {
        display: flex;
        margin: 5px 0px;

        .size__input {
            & > input {
                margin-left: 9px;
            }
            & > label {
                margin-left: 5px;
            }
        }
    }

    .detail__quantity {
        width: 200px;
        h3 {
            color: white;
            font-size: 1.4rem;
            margin: 10px 0px;
        }
        & > div {
            display: flex;
            align-items: center;
            margin: 12px 0px;

            & > button {
                height: 42px;
                width: 22.5%;
                font-size: 1.4rem;
                font-weight: bold;
                border: 2px solid white;
                border-radius: 50%;
                background-color: black;
                color: white;

                &:hover {
                    background-color: lighten(black, 20%);
                    cursor: pointer;
                }
            }

            & > div {
                font-size: 1.5rem;
                width: 45%;
                
                text-align: center;
            }
        }
    }

    .container__product__detail__two-section {
        display: flex ;
        justify-content: space-evenly;
        margin: 20px 0px;
    }
}

.return-link {
    color: white;
    text-decoration: none;
    margin-top: 30px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    width: 25%;

    &:hover {
        text-decoration: underline;
        color: $primary-color;
    }

    & > span {
        margin-left: 12px;
    }
}