.banners__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin: 50px auto;

    .banner__carrousel {
        margin: auto;
        overflow: hidden;
        position: relative;
        width: 100%;
        display: flex;

        .banner__carrousel__internal {
            width: 2400px;
            display: flex;
            transition: transform 0.4s ease-in-out;

            .banner__carrousel__item {
                position: relative;
                width: 80vw;
                
                &:hover {
                    cursor: pointer;
                }
            }

        }

    }

    .banner__arrow__container {
        position: absolute;

        .banner__arrow--right, .banner__arrow--left {
            position: relative;
            z-index: 93;
            color: white;
            font-size: 80px;
            margin-top: 14vw;

            &:hover {
                transition: color 0.4s ease;
                color: darken(white, 10%);
                cursor: pointer;
            }
        }
        .banner__arrow--left {
            margin-left: 0.7vw;
        }
        .banner__arrow--right {
            margin-left: 72.5vw;
        }

    }
}