@import "../../global/colors.scss";

.nav-options {
    background-color: $primary-color;
    color: white;

    & > ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        list-style-type: none;
    }
}