@import "../../global/colors.scss";

footer {
    border-top: 2px solid white;
    background-color: $primary-color;
    color: white;
    display: flex;
    align-items: center;

    & > img {
        width: 50px;
        margin: 10px 40px;
    }
    
    & > h2 {
        font-weight: normal;
        font-size: 1.1rem;
        position: absolute;
        width: 100%;
        text-align: center;

        & > a {
            color: white;
            text-decoration: none;
            

            &:hover {
                text-decoration: underline;
            }
        }
    }

}