@import "../../global/colors.scss";

.langOptionsMenu {
    background-color: lighten(black, 30%);
    //padding: 15px;
    border-radius: 10px;
    font-weight: 2rem;
    color: red;
    margin-left: 0px;
    margin-top: -20px;

    position: absolute;
    font-family: 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', 'Android Emoji', sans-serif;

    & > ul {
        list-style-type: none;

        & > li {
            cursor: pointer;
        }
    }

    .flag__container--EN {
        padding: 10px 15px 0px 15px;
        border-bottom: 1px dashed black;

        &:hover {
            background-color: $secundary-color;
            border-radius: 10px 10px 0px 0px;
        }
    }

    .flag__container--BR {
        padding: 10px 15px;
        border-bottom: 1px dashed black;

        &:hover {
            background-color: $secundary-color;
        }
    }

    .flag__container--ES {
        padding: 8px 15px 10px 15px;
        &:hover {
            background-color: $secundary-color;
            border-radius: 0px 0px 10px 10px;
        }
    }

    .flag--active {
        background-color: $secundary-color;
    }
}