@import "../../global/fonts.scss";
@import "../../global/colors.scss";

.lil-cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 33%;
    height: 100%;
    overflow-x: auto;
    //background-color: #333;
    background-color: #30213c;
    color: #fff;
    z-index: 999;
    transition: transform 0.5s ease;

    .cart__header {
        display: flex;
        align-items: center;
        height: 80px;
        justify-content: space-between;
        margin: 10px 35px;

        & > h1 {
            font-family: $font-primary;
        }
    }

    .sgv--close {
        width: 50px;
        height: 50px;
        cursor: pointer;
        //margin-right: 100px;

        &:hover {
            color: darken(white, 30%);
        }
    }

    .cart__separator {
        width: 90%;
        margin: auto;
        border: 2px dashed white;
    }

    .cart__pf-container {
        display: flex;
        align-items: center;
        flex-direction: column;

        & > h2 {
            color: $secundary-color;
            margin: 16px 0px;
        }
    }

    .your-cart-is-empty {
        width: 70%;
        height: 60vh;
        font-size: 2.6rem;
        display: flex;
        align-items: center;
        margin: auto;
        text-align: center;
    }
}

.cart__hideen {
    transform: translateX(100%);
}

.cart__show {
    transform: translateX(0%);
}
