@import "../../global/fonts.scss";
@import "../../global/colors.scss";

.searchPage {
    text-align: center;
    background-color: black;
    color: white;
    margin: 26px 0px;

    & > h1 {
        padding: 20px 0px;
        margin-bottom: 20px;
        font-family: $font-secundary;
        color: $secundary-color;
        font-size: 2.9rem;
    }

    .searchPage__grid {
        margin: auto;
        width: 80%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 28px;
    }

    .searchPage__grid__pagination {
        margin-top: 30px;
        font-size: 1.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    
        & > button {
            background: none;
            border: none;
            padding: 0;
            margin: 0;
            color: white;
    
            & > .pagination__button--left,
            & > .pagination__button--right {
                font-size: 36px;
                color: inherit;
            }

            &:hover {
                cursor: pointer;
                color: gray;
            }

            &:disabled {
                color: gray;
                cursor: not-allowed;
            }
    
            & > .pagination__button--left {
                margin-right: 19px;
            }
    
            & > .pagination__button--right {
                margin-left: 19px;
            }
        }
    }
    

}